* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    margin: 0;
    background-color: white;
}

.main {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.item {
    border: 1px solid black;
    flex: 1;
    height: 100px;
}

.middle {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.sidebar {
    border: 1px solid black;
    width: 15%; 
    height: 350px;
    padding: 20px 10px;
}


.content {
    border: 1px solid black;
    width: 85%; 
    height: 350px;
    padding: 30px;
}

.sidebarline {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    width: 90%;
}

.in {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.circle {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
}

.hello {
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 10px;
}


.bottom {
    border: 1px solid black;
    height: 80px;
    width: 100%;
}
